$white: #FFFFFF;
$black: #000000;
$primary1: #7F8285;
$primary2: #918F8A;
$red: #FF3333;
$green: #00B341;
$orange: #FF9A00;
$yellow: #FFCC00;
$blue-grey: #F0F2F3;

//$font-size-land-16: 4vh;
//$line-height-land-16: 4.8vh;
//$font-size-port-16: 2.4vh;
//$line-height-port-16: 2.6vh;